<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanwan.springboot.mapper.LeaveWordMapper">

    <select id="getByPage" resultType="com.wanwan.springboot.entity.LeaveWord">
        SELECT lw.*,u.nickname as replyUserName
        from leave_word lw
            LEFT JOIN user u on lw.reply_user_id=u.id
        <where>
            <if test="nickName!='' and nickName!=null">
                lw.nick_name LIKE CONCAT('%',#{nickName},'%')
            </if>
            <if test="enable==1">
                lw.enable=1
            </if>
        </where>
        ORDER BY lw.create_time DESC

    </select>
</mapper>
