<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanwan.springboot.mapper.UserArticleLikeMapper">

    <resultMap id="BaseResultMap" type="com.wanwan.springboot.pojo.po.UserArticleLike">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <id property="articleId" column="article_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        userid,articleid,create_time
    </sql>
</mapper>
