<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanwan.springboot.mapper.UserCommentLikeMapper">

    <resultMap id="BaseResultMap" type="com.wanwan.springboot.pojo.po.UserCommentLike">
            <id property="user_id" column="user_id" jdbcType="INTEGER"/>
            <id property="comment_id" column="comment_id" jdbcType="INTEGER"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,comment_id,create_time
    </sql>
</mapper>
